body * {
  display: block;
}

form {
  margin: 5em auto 0;
  width: 500px;
  font-size: 1.5em;
}

select,
button {
  font-size: 0.65em;
}

input,
select {
  margin-bottom: 1.2em;
}

button {
  margin-top: 1em;
  padding: 0.6em 0.8em;
}